.container.info
  %h4 Country of Origin:
  %h2.origin-name
  %hr

  .share
    %p
      Share

    %a.fb{href: "http://www.facebook.com/share.php?u=http://outflux.herokuapp.com/", target: "_blank"}

    %a.tw{href: "http://twitter.com/home?status=Outflux%20-Interactive%20map%20of%20international%20Refugee%20flows.%20Data%20via%20@Refugees+http://outflux.herokuapp.com/", target: "_blank"}

  .toggle-stories
    In the news


  #info-main

    #stories

    #stats

      %h5 Year:
      %h3.year-output
      %input#year-slider{ type: "range", class: "slider", min: 2000, max: 2012, step: 1, value: 2012}

      %h5 Total refugees:
      .no-click-btn.total-refugees

      .ref-legend
        .ref-img
        :escaped
          = 10,000

      #refugee-box

      #more ...
