.div{class: 'container info'}
  %h4 Country of Origin:
  %h2.origin-name
  %hr

  %h5 Year:
  %h3.year-output

  %h5 Total refugees:
  %button{class: 'btn btn-default btn-lg total-refugees'} -

  #refugee-box

