.container.info
  %h4 Country of Origin:
  %h2.origin-name
  %hr

  .share
    %p
      Share
      %span.glyphicon.glyphicon-share

    %a{href: "http://www.facebook.com/share.php?u=http://outflux.herokuapp.com/", target: "_blank"}
      Facebook

  %h5 Year:
  %h3.year-output

  %h5 Total refugees:
  %button.btn.btn-default.btn-lg.total-refugees

  #refugee-box

