.container

  %header
    %h1.inline OUTFLUX
    %h4 International Refugee Flows by Country of Origin

  #about-button
    %span.glyphicon.glyphicon-chevron-right

  .row#controls
    #origins
      - @countries.each do |country|
        %button.btn.btn-warning{ data: {code: country.code}}
          = country.alias ? country.alias : country.name

  .panel.panel-default#info-box
    = render 'info_box'

  #map-container