.container
  %h1 Refugee Overview by Country of Origin

  #origins
    %button{ class: "btn btn-warning", data: {country: "1", code: "1"}} Afghanistan
    %button{ class: "btn btn-warning", data: {country: "142", code: "189"}} Sudan
    %button{ class: "btn btn-warning", data: {country: "85", code: "211"}} Syria


  #map-container