.container

  %header
    %h1.inline OUTFLUX
    %h4 International Refugee Flows by Country of Origin

  #about-tab.tab
    %span.glyphicon.glyphicon-chevron-right
  #about-window.tab
    %h3 About OUTFLUX
    %p!= "This map was created with publicly available historcial <a href='ww.unhcr.org/pages/4a013eb06.html' target='_blank'>data</a> from the <a href='http://www.unhcr.org/cgi-bin/texis/vtx/home' target='_blank'>UN Refugee Agency</a>. <br><br>For a selected country of origin, the map will display the number of refugees that fled to nations around the world."

  .row#controls
    #origins
      - @countries.each do |country|
        %button.btn.btn-warning{ data: {code: country.code}}
          = country.alias ? country.alias : country.name

  .panel.panel-default#info-box
    = render 'info_box'

  #map-container