.container

  %header
    %h1.inline OUTFLUX
    %h4 International Refugee Flows by Country of Origin

  #about-tab.tab
    %span.glyphicon.glyphicon-chevron-right
  #about-window.tab
    %h3 About OUTFLUX
    %p!= "This map was created with historcial <a href='http://www.unhcr.org/pages/4a013eb06.html' target='_blank'>data</a> from the <a href='http://www.unhcr.org/cgi-bin/texis/vtx/home' target='_blank'>UN Refugee Agency</a> and was designed to help users visualize the impact of ongoing conflict and natural disasters on reflugee flows."

    %p
      To view, click on a country of interest and drag the year slider to see refugee outflows for a given year.
    %p

    %blockquote{cite: "http://www.unrefugees.org/site/c.lfIQKSOwFqG/b.4950731/k.A894/What_is_a_refugee.htm"}
      %strong
        What is a refugee?
      %br
      A refugee is someone who has been forced to flee his or her country because of persecution, war, or violence. A refugee has a well-founded fear of persecution for reasons of race, religion, nationality, political opinion or membership in a particular social group.

  .row#controls
    #origins
      - @countries.each do |country|
        %button.btn.btn-warning{ data: {code: country.code}}
          = country.alias ? country.alias : country.name

  .panel.panel-default#info-box
    = render 'info_box'

  #map-container