.container

  %header
    %h1.inline OUTFLUX
    %h4 International Refugee Flows by Country of Origin

  #about-tab.tab
    %span.glyphicon.glyphicon-chevron-right
  #about-window.tab
    %h3 About OUTFLUX
    %p!= "Every year, millions of people around the world are forced to flee their countries of origin due to violence, persecution and natural disaster. This map was created with historical <a href='http://www.unhcr.org/pages/4a013eb06.html' target='_blank'>data</a> from the <a href='http://www.unhcr.org/cgi-bin/texis/vtx/home' target='_blank'>UN Refugee Agency</a> and was designed to help users visualize ongoing global refugee crises and access specific country information from UNHCR's news feed."

    %p.pad-top
      To view, click on a country of interest and drag the year slider to see refugee outflows from 2000-2012.

    %p.credit.pad-top
      UNHCR Statistical Online Population Database
      %br
      United Nations High Commissioner for Refugees (UNHCR), Data extracted: 03/22/2014

  .row#controls
    #origins
      - @countries.each do |country|
        %button.btn.btn-warning{ data: {code: country.code}}
          = country.alias ? country.alias : country.name

  .panel.panel-default#info-box
    = render 'info_box'

  #map-container

#footer
  Emilie Reiser 2014
  |
  = link_to "GitHub repo", "https://github.com/emreiser/outflux", target: '_blank'