/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

$orange: #eea236;
$turquoise: #1abc9c;

#origins {
  margin: 20px;
  float: left;
}

.highlight {
  fill: $orange;
}

.inline {
  display: inline-block;
}

#year-slider {
  display: inline-block;
  width: 40%;
  margin: 0 30px;
}

#bar {
  margin: 5px 20px;
  min-height: 100px;
}

#info-box {
  width: 30%;
  height: 300px;
  position: absolute;
  top: 160px;
  right: 60px;
  text-align: right;

  h5 {
    color: gray;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.origin-name {
  margin-top: 0;
  height: 15px;
  color: $orange;
}

h3.year-output {
  height: 20px;
  margin: 0 0 5px 0;
}

