/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

$orange: #eea236;
$turquoise: #1abc9c;
$gray: #363636;


////// General //////

body {
  background: whitesmoke;
}

.highlight {
  fill: $orange;
}

.inline {
  display: inline-block;
}

.container {
  width: 90%;
  margin: 0 auto;
}

////// Index page sections //////

#origins {

  button {
    margin: 5px 0;
  }
}

#year {
  text-align: right;
  padding-top: 10px;
}

#year-slider {
  display: inline-block;
  width: 40%;
  margin: 0 30px;
}

// Info box

#info-box {
  width: 30%;
  min-height: 300px;
  position: absolute;
  top: 160px;
  right: 60px;
  text-align: right;
  padding-top: 10px;

  h5 {
    color: $gray;
  }
}

.origin-name {
  margin-top: 0;
  min-height: 15px;
  color: $orange;
}

h3.year-output {
  height: 20px;
  margin: 0 0 5px 0;
}

#refugee-box {
  width: 100%;
  height: auto;
  margin: 10px;
}

.refugee-viz {
  width: 100%;
  height: 40px;
  background-image: image-url('person-1.svg');
  background-size: 10.1% 100%;
}

.hover-box {
  position: absolute;
  z-index: 100;
  border-radius: 3px;
  border: 1px solid gray;
  background: whitesmoke;
  padding: 5px;

  .hover-name {
    font-weight: bold;
    font-size: 100%;
    margin: 2px;
  }

  .hover-stat {
    font-size: 90%;
    margin: 2px;
  }
}


// Media queries

@media(max-width: 860px) {

  #info-box {
    width: 100%;
    margin: 10px auto;
    position: relative;
    top: 0;
    right: 0;
    min-height: 20px;
    min-width: 40px;
  }

  #year {
    text-align: left;
  }

}

