$lightgrey: #dddddd;
$teal: #e8f0f0;
$dteal: #d9e6e6;

.toggle-stories {
  width: 110px;
  text-align: center;
  background-color: $teal;
  padding: 3px 5px;
  border-radius: 4px;
  display: inline-block;
  font-size: 80%;
  border: 1px solid #5F9F9F;
  cursor: pointer;

  transition: background-color .2s ease;

  &:hover {
    background-color: $dteal;
  }
}

#info-main {
  padding: 0 0 10px 0;
  max-height: 350px;
  overflow: scroll;
  margin-bottom: 10px;
}

#stories {
  display: none;
  padding: 10px 0;

}

.story {
  text-align: left;
  padding: 15px;
  border: 1px solid $lightgrey;
  margin: 10px 0;
  border-radius: 3px;

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-size: 90%;
  }

  h4 {
    font-size: 110%;
  }

  .story-link {
    text-align: right;
  }
}

.country-page {

  h4 {
    font-size: 110%;
    font-weight: 500;
  }
}