!!!
%html
  %head
    %meta{name: "Outflux - International Refugee Flows", content: "An interactive visualisation of refugee movement from key countries over the past decade.", image: image_url('outflux.png')}

    %title Outflux
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = yield


