!!!
%html
  %head
    %meta{property: "og:image", content: image_url('outflux.png')}
    %meta{property: "og:site_name", content: "Outflux"}

    %title Outflux
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %link{href: 'http://fonts.googleapis.com/css?family=Julius+Sans+One', rel: 'stylesheet', type: 'text/css'}

  %body

    = yield


